.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;

  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}

.gallery-item {
  width: 360px;
  border: 1px solid black;
  border-radius: 4px;
  overflow: hidden;
  background-color: #fff;
}

.gallery-link {
  display: block;
  width: 100%;
  height: 240px;
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 8px 12px;
  background-color: #fff;
  font-size: 20px;
}

.info li {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info b {
  font-size: 15px;
  margin-bottom: 4px;
}

.form {
  font-size: 50px;
  width: 500px;
  height: 200px;
}

input {
  width: 100%;
}

button {
  padding: 12px 16px;

  width: 100%;
  align-self: center;

  border: none;
  border-radius: 6px;

  font-size: 16px;
  font-weight: 600;
  color: #fff;
  background-color: #4e75ff;

  cursor: pointer;
  transition: background-color 0.2s, transform 0.1s;
}
button:hover {
  background-color: #3259db;
}

.loader.is-hidden{
  display: none;
}

.load-more {
  margin-top: 30px;
}

.load-more.boost {
display: none;
}